{ 
  "presets": [
    [ 
      "@babel/preset-env", {
        "modules": "commonjs"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-transform-destructuring"
  ]
}